.n-content-big-number {
	@include nContentBox;
	@include nContentBoxInline;
	border: 1px solid getColor('black-20');
	padding-left: 16px;
	padding-right: 16px;
	color: getColor('black-70');
	p {
		margin: 5px 0 0;
	}
}

.n-content-big-number__title {
	@include oTypographySerifDisplay('xl', $load-progressively: true);
	font-size: 3em;
	line-height: 1em;
}

.n-content-big-number__content {
	@include oTypographySansData('m', $load-progressively: true);
	font-size: 16px;
}
