//ARTICLE BODY ELEMENTS
.n-content-body {

	// STANDARD TYPOGRAPHY AND ELEMENTS
	font: 18px/1.7 Georgia, serif;
	margin-bottom: 40px;
	-webkit-font-smoothing: antialiased;

	> p {
		@include oTypographyBody();
	}

	> :first-child {
		margin-top: 0;
	}

	strong {
		font-weight: 600;
	}

	// BLOCKQUOTES
	blockquote {
		color: getColor('black-70');
		position: relative;

		p {
			@include oTypographyDisplay($scale: 2, $progressive: true);
		}
	}

	// DATA TABLES
	.data-table {
		margin-top: 20px;
		border-spacing: 0;
		width: 100%;

		caption,
		thead {
			text-align: left;
		}
		caption {
			font-weight: 500;
			text-transform: uppercase;
		}
		thead,
		tbody {
			&:before {
				content: "";
				display: block;
				height: 10px;
			}
		}
		tbody tr:nth-child(odd) {
			background-color: getColor('black-10');
		}
		th,
		td {
			vertical-align: top;
		}
		th {
			font-weight: 500;
		}
		td {
			padding: 5px 10px;
		}
	}

	.subhead--crosshead,
	.n-content-heading-2 {
		@include nContentHeading2;
	}
	.subhead--standard,
	.n-content-heading-3 {
		@include nContentHeading3;
	}

	.n-content-heading-4 {
		@include nContentHeading4;
	}

	.n-content-heading-5 {
		@include nContentHeading5;
	}
}
