// ARTICLE GALLERY

.article__gallery {
	line-height: initial;
}
// Use next's icons
.o-gallery__control {
	line-height: 0;
}
.o-gallery__control:before {
	position: relative;
	top: 50%;
	margin-top: -30px;
}
.o-gallery__control--prev:before {
	@include nextIcon(arrow-left, #ffffff, 60);
	left: -5px;
	content: '';
}
.o-gallery__control--prev:hover:before {
	@include nextIcon(arrow-left, #b0b0b0, 60);
}
.o-gallery__control--next:before {
	@include nextIcon(arrow-right, #ffffff, 60);
	left: -3px;
	content: '';
}
.o-gallery__control--next:hover:before {
	@include nextIcon(arrow-right, #b0b0b0, 60);
}
