@mixin nContentHeading2 {
	@include oTypographySansBold($scale: 4, $progressive: true);
	@include nContentMargins($headingTop: 8);
	// trigger a new formatting context so it won't run into floats
	overflow: hidden;
	color: oColorsGetPaletteColor('black');

	&:before {
		@include oTypographyMargin($bottom: 2);
		content: '';
		display: block;
		width: 60px;
		border-bottom: oTypographySpacingSize(1) solid oColorsGetPaletteColor('black');
	}
}

@mixin nContentHeading3 {
	@include oTypographySans($scale: 4, $progressive: true);
	@include nContentMargins();

	color: oColorsGetPaletteColor('black');
	font-weight: 400;
}

@mixin nContentHeading4 {
	@include oTypographySans($scale: 3, $progressive: true);
	@include nContentMargins($headingBottom: 3);

	font-weight: 400;
}

@mixin nContentHeading5 {
	@include oTypographySans($scale: 0, $progressive: true);
	@include nContentMargins();

	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5px;
}

@mixin nContentMargins($headingTop: 0, $headingBottom: 1, $pSize: 1, $figureSize: 5) {
	@include oTypographyMargin($top: $headingTop, $bottom: $headingBottom);

	& + p {
		@include oTypographyMargin($top: $pSize);
	}

	& + figure,
	& + div,
	& + ul,
	& + li,
	& + aside {
		@include oTypographyMargin($top: $figureSize);
	}
}
