@mixin nContentHeading2 {
	@include oTypographySansBold($scale: 4, $progressive: true);
	@include oTypographyMargin($top: 8, $bottom: 1);
	// trigger a new formatting context so it won't run into floats
	overflow: hidden;
	color: oColorsGetPaletteColor('black');
	& + p {
		@include oTypographyMargin($top: 2);
	}
	&:before {
		@include oTypographyMargin($bottom: 2);
		content: '';
		display: block;
		width: 60px;
		border-bottom: oTypographySpacingSize(1) solid oColorsGetPaletteColor('black');
	}
}

@mixin nContentHeading3 {
	@include oTypographySans($scale: 4, $progressive: true);
	@include oTypographyMargin($top: 0, $bottom: 1);
	color: oColorsGetPaletteColor('black');
	font-weight: 400;
	& + p {
		@include oTypographyMargin($top: 2);
	}
}

@mixin nContentHeading4 {
	@include oTypographySans($scale: 3, $progressive: true);
	@include oTypographyMargin($top: 0, $bottom: 1);
	font-weight: 400;
	& + p {
		@include oTypographyMargin($top: 7);
	}
}

@mixin nContentHeading5 {
	@include oTypographySans($scale: 0, $progressive: true);
	@include oTypographyMargin($top: 0, $bottom: 1);
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	& + p {
		@include oTypographyMargin($top: 5);
	}
}
