.n-content-layout {
	// margin considers p margin bottom of 28px to equal 36px on both sides
	@include oTypographyMargin($top: 2, $bottom: 9);
	clear: both;

	&[data-layout-width="full-grid"] {
		@include oGridRespondTo($until: L) {
			width: 100%;
		}

		@include oGridRespondTo(L) {
			position: relative;
			left: calc(75% + 10px);
			width: 100vw;
			margin-left: -50vw;

			.n-content-layout__container {
				@include oGridContainer;
			}
		}

		@include oGridRespondTo(XL) {
			left: calc(75% - 15px);
		}
	}
}

.n-content-layout__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border: solid oColorsMix('black', 'paper', 20);
	border-width: 1px 0; //top and bottom
}

.n-content-layout__slot {
	min-width: 0;
	@include oTypographyMargin($top: 3, $bottom: 3);
	@include oGridRespondTo(M) {
		flex: 1;
		& + .n-content-layout__slot {
			margin-left: 16px;
		}

		&--wide {
			flex: 2;
		}
	}

	:last-child {
		margin-bottom: 0;
	}
}
