.n-content-layout {
	// margin considers p margin bottom of 28px to equal 36px on both sides
	@include oTypographyMargin($top: 2, $bottom: 9);
	clear: both;
	padding: 0 oTypographySpacingSize(3);

	background-color: oColorsGetPaletteColor('black-5');

	&[data-layout-width="full-grid"] {
		@include oGridRespondTo($until: L) {
			width: 100%;
			margin-left: -1 * oGridGutter();
		}

		@include oGridRespondTo(L) {
			position: relative;
			left: calc(75% + 10px);
			width: 100vw;
			margin-left: -50vw;

			.n-content-layout__container {
				@include oGridContainer;
			}
		}

		@include oGridRespondTo(XL) {
			left: calc(75% - 15px);
		}
	}

}



.n-content-layout__container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	@include oTypographyPadding($top: 1, $bottom: 2);

	> :not(.n-content-layout__slot) {
		@include oTypographyMargin($top: 2, $bottom: 0);
		flex: 0 0 100%;
	}

	> [class^=n-content-heading-] {
		@include oTypographyMargin($top: 0, $bottom: 0);
		@include oTypographyPadding($bottom: 1);
		border-bottom: 1px solid getColor(black-20);
	}

}

.n-content-layout__slot {
	min-width: 0; //fix for images going outside the container
	max-width: 100%; //fix overflow on IE
	flex-basis: 100%;
	@include oTypographyMargin($top: 1, $bottom: 3);
	@include oGridRespondTo(M) {
		flex: 1 1 1px;
		& + .n-content-layout__slot {
			margin-left: 16px;
		}

		&--wide {
			flex: 2;
		}
	}

	:last-child {
		margin-bottom: 0;
	}
}

//Font overrides for slot content
.n-content-body .n-content-layout__slot {
	> p,
	> ul > li {
		@include oTypographySans($scale: 1);
	}
}

//fix spacing and borders for layoutsets
.n-content-layout-set {
	@include oTypographyMargin($top: 2, $bottom: 9);
	.n-content-layout {
		@include oTypographyMargin($top: 0, $bottom: 0);
	}

	.n-content-layout + .n-content-layout .n-content-layout__container {
		border-top-width: 0;
	}
}
