@mixin nContentBox() {

	box-sizing: border-box;
	position: relative;
	clear: left;
	margin: 24px 0 16px;
	padding: 16px 0;
	width: 100%;

	.o-expander__toggle {
		@include oTypographySans('m', $load-progressively: true);
		margin-top: 12px;
		i {
			@include oIconsGetIcon('arrow-down', getColor('teal-1'), 12);
			@include oIconsBaseStyles();
			display: inline-block;
			padding: 0 12px;
			box-sizing: border-box;
			&:hover {
				@include oIconsGetIcon('arrow-down', getColor('cold-2'), 12);
			}
		}
		&:hover {
			color: getColor('cold-2');
			text-decoration: none;
		}
		&[aria-expanded="true"] i {
			@include oIconsGetIcon('arrow-up', getColor('teal-1'), 12);
			&:hover {
				@include oIconsGetIcon('arrow-up', getColor('cold-2'), 12);
			}
		}
	}
}

@mixin nContentBoxInline() {
	float: left;
	@include oGridRespondTo(S) {
		max-width: 300px;
		margin-right: 24px;
	}
}

@mixin nContentBoxTitle() {
	margin: -40px 0 8px 10px;
}

@mixin nContentBoxTitleText() {
	@include oTypographySerifDisplay('m', $load-progressively: true);
	color: getColor('cold-1');
	display: inline-block;
	padding: 10px;
	padding-bottom: 0;
	margin: 0;
	font-weight: 900;
	background-color: inherit;
	a {
		color: getColor('cold-1');
		border-bottom: 0;
		text-decoration: none;
	}
}
