@mixin nContentBox() {
	box-sizing: border-box;
	position: relative;
	clear: left;
	margin: 24px 0 16px;
	padding: 16px 0;
	width: 100%;

	.o-expander__toggle {
		@include oTypographySans($scale: 2, $progressive: true);
		margin-top: 12px;
		i {
			@include oIconsGetIcon('arrow-down', getColor('teal-40'), 12);
			@include oIconsBaseStyles();
			display: inline-block;
			padding: 0 12px;
			box-sizing: border-box;
			&:hover {
				@include oIconsGetIcon('arrow-down', getColor('black-80'), 12);
			}
		}
		&:hover {
			color: getColor('black-80');
			text-decoration: none;
		}
		&[aria-expanded="true"] i {
			@include oIconsGetIcon('arrow-up', getColor('teal-40'), 12);
			&:hover {
				@include oIconsGetIcon('arrow-up', getColor('black-80'), 12);
			}
		}
	}
}

@mixin nContentBoxInline() {
	float: left;
	@include oGridRespondTo(S) {
		max-width: 300px;
		margin-right: 24px;
	}
}

@mixin nContentBoxTitle() {
	margin: -40px 0 8px 10px;
}

@mixin nContentBoxTitleText() {
	@include oTypographySans($weight: 'bold', $scale: 2, $progressive: true);
	display: inline-block;
	padding: 10px;
	padding-bottom: 0;
	margin: 0;
	background-color: inherit;
	a {
		color: getColor('black-70');
		border-bottom: 0;
		text-decoration: none;
	}
}

@mixin nLists() {
	display: inline-block;
	list-style: none;
	margin: 0;
	padding: 0;
}

@mixin nListsItem($use-case: n-lists) {
	@include oColorsFor($use-case, background);
	border: 1px solid rgba(oColorsGetColorFor($use-case, border), 0.25);
	border-width: 0 0 1px;
	min-width: 200px;
	vertical-align: top;

	> a {
		@include nListsItemLink($use-case);
	}
}

@mixin nListsItemLink($use-case: n-lists) {
	@include oEditorialTypographyTag($type: 'topic');
	display: block;
	padding: 2px 15px 2px $spacing-unit/2;
	position: relative;
	text-decoration: none;
	border-bottom-width: 0;
	&:after {
		@include oIconsGetIcon('arrow-right', oColorsGetColorFor($use-case, border), 10);
		content: '';
		opacity: 0.25;
		position: absolute;
		right: 0;
		top: 8px;
	}
	&:hover,
	&:focus {
		background: rgba(oColorsGetColorFor(#{$use-case}-hover, background), 0.1);
		border-bottom-width: 0;
		&:after {
			@include oIconsGetIcon('arrow-right', oColorsGetColorFor(#{$use-case}-hover, border), 10);
		}
	}
}

@mixin nLayoutInset() {
	margin-bottom: oSpacingByName('s8');
	@include oGridRespondTo(S) {
		@include oGridColspan(5, $width-only: true);
		margin-right: oSpacingByName('s8');
		float: left;
		clear: both;
	}
}

@mixin nLayoutInsetRight() {
	margin-bottom: oSpacingByName('s8');
	@include oGridRespondTo(S) {
		@include oGridColspan(5, $width-only: true);
		margin-left: oSpacingByName('s8');
		float: right;
		clear: both;
	}
}
