.n-content-pullquote {
	.n-content-body > & {
		@include nLayoutInset;
		@include oTypographyPadding($top: 0, $bottom: 0);
		margin-top: 0;
		margin-left: 0;
	}

	p {
		margin-top: -12px;
		@include oTypographyMargin($bottom: 4);
	}
}


.n-content-pullquote__content {
	@include oTypographySansBold(3);
	@include oTypographyMargin($bottom: 4);

	padding-right: 16px;

	&:before {
		@include oIconsGetIcon('speech-left', getColor('black-80'), 44, $iconset-version: 1);
		content: "";
		position: relative;
		top: -8px;
		left: -8px;
	}
}

.n-content-pullquote__footer {
	@include oTypographySans(-1, $progressive: true);
	color: getColor('black-80');
}

.n-content-pullquote--wide {
	float: none;
	max-width: 100%;
	margin-top: 35px;
	text-align: center;

	.n-content-pullquote__content:before {
		left: 44%;
	}
}
