.n-content-recommended {
	.n-content-body > & {
		@include nLayoutInset;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style: none;
			border-bottom: 1px solid oColorsGetPaletteColor(black-10);
			padding: 0;
			&:before {
				display: none;
			}
		}
	}

	a {
		@include oTypographySans($scale: 1, $progressive: true);
		@include oColorsFor(link-title, text);
		@include oTypographyPadding($top: 1, $bottom: 2);
		display: inline-block;
		border-bottom-width: 0;
		width: 100%;

		&:hover {
			color: oColorsGetPaletteColor(black-60);
		}
	}
}
.n-content-recommended__title {
	@include oTypographySansBold($scale: 1, $progressive: true);
	margin-top: 4px;
}
