// ARTICLE SUBHEAD

.article__subhead {
	@include oTypographySansBold(l);
	margin-top: 50px;
	margin-bottom: 20px;
}
.article__subhead--crosshead {
	border-bottom: 1px solid black;
}
.article__subhead--standard {
	@include oTypographySansBold(m);
}
