// Styling Utilities

.u-margin--left-right {
	margin-left: 16px;
	margin-right: 16px;
}

.u-padding--left-right {
	padding-left: 16px;
	padding-right: 16px;
}

.u-padding--bottom {
	padding-bottom: 16px;
}

.u-padding--bottom__none {
	padding-bottom: 0;
}

.u-background-color--pink {
	background-color: getColor('pink');
}

.u-border--all {
	border: 1px solid getColor('warm-3');
}

.u-border--left {
	border-left: 1px solid getColor('warm-3');
}
