.n-content-video {
	position: relative;
	clear: left;
	margin: 0 auto 1em;
	max-width: 100%;

	@media print {
		display: none;
	}
}

.n-content-video--brightcove {
	width: 680px;
}

.n-content-video--youtube {
	width: 560px;
}
