.n-content-recommended {
  .n-content-body > & {
    @include nLayoutInset;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      border-bottom: 1px solid oColorsByName("black-10");
      padding: 0;

      &::before {
        display: none;
      }
    }
  }

  a {
    @include oTypographySans($scale: 1);

    color: oColorsByUsecase("link-title", "text");
    padding-top: oSpacingByName("s1");
    padding-bottom: oSpacingByName("s2");
    display: inline-block;
    border-bottom-width: 0;
    width: 100%;

    &:hover {
      color: oColorsByName("black-60");
    }
  }
}

.n-content-recommended {
  &--single-story {
    @include nLayoutInset;

    .o-teaser__meta,
    .o-teaser__heading {
      @include oTypographySans(0);
    }
  }

  &__title {
    @include oTypographySans($weight: "semibold", $scale: 1);

    margin-top: 4px;
    margin-bottom: 0.83em;
  }
}
