.n-content-layout-set,
.n-content-layout {

	&[data-layout-name="card"] {
		background-color: oColorsGetTone('wheat', 100);

		.n-content-layout__slot {
			padding-left: oSpacingByName('s3');
			padding-right: oSpacingByName('s3');
		}

		.n-content-layout__container > [class^=n-content-heading-] {
			padding-left: oSpacingByName('s3');
			padding-right: oSpacingByName('s3');
		}
	}
}
