/*TODO: remove this file once all the existing layouts have the correct name */

.n-content-layout-set,
.n-content-layout {
	background-color: rgba(oColorsGetPaletteColor('wheat'), 0.5);

	.n-content-layout__slot {
		padding-left: oTypographySpacingSize(3);
		padding-right: oTypographySpacingSize(3);
	}

	.n-content-layout__container > [class^=n-content-heading-] {
		padding-left: oTypographySpacingSize(3);
		padding-right: oTypographySpacingSize(3);
	}
}
